* {
    box-sizing: border-box;
  }

  /* Create columns that floats next to each other */
  .column {
    float: left;
    width: 30px;
    height: 30px;
    background-color:white;
    border: 1px solid black;
  }

  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
    border-color: coral;
  }

  .topnav {
    background-color: #7070db;
    overflow: hidden;
  }

  .topnav button {
    float: right;
    color: #006666;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-family: sans-serif;
  }

  .topnav button:hover {
    background-color: #4d4dff;
    color: black;
  }

  .topnav button.active {
    background-color: #4CAF50;
    color: white;
  }

  #colors{
    float: right;
    color: #006666;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-family: sans-serif;
  }
